{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "singleQuote": false,
    "singleAttributePerLine": true,
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
